### imports

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import FinanceDataReader as fdr
import pandas_datareader.data as web

%matplotlib inline

In [12]:
import warnings
warnings.filterwarnings('ignore')

### Currency

#### 각각의 환율 데이터 가져오기

In [13]:
USD_KRX = fdr.DataReader('USD/KRW', start='2010', end='2022-06-19') # 달러/원화
JPY_KRX = fdr.DataReader("JPY/KRW", start='2010', end='2022-06-19') # 엔/원화
CNY_KRX = fdr.DataReader('CNY/KRW', start='2010', end='2022-06-19') # 위안/원화
EUR_KRX = fdr.DataReader("EUR/KRW", start='2010', end='2022-06-19') # 유로/원화

In [14]:
USD_KRX.head()

              Close     Open     High      Low  Change
Date
2010-01-01  1166.08  1166.08  1166.08  1166.08  0.0000
2010-01-04  1150.00  1164.07  1164.07  1149.35 -0.0138
2010-01-05  1140.20  1151.00  1151.00  1136.30 -0.0085
2010-01-06  1129.20  1140.20  1144.70  1129.20 -0.0096
2010-01-07  1138.20  1129.20  1138.20  1127.80  0.0080

In [15]:
USD_KRX.to_csv('USD_KRX.csv')
JPY_KRX.to_csv('JPY_KRX.csv')
CNY_KRX.to_csv('CNY_KRX.csv')
EUR_KRX.to_csv('EUR_KRX.csv')

#### 통합된 환율 데이터 가져오기

In [16]:
total_currency = pd.DataFrame({'USD':USD_KRX.Close,
                               'JPY':JPY_KRX.Close,
                               'CNY':CNY_KRX.Close,
                               'EUR':EUR_KRX.Close})
total_currency.head()

                USD      JPY     CNY      EUR
Date
2010-01-01  1166.08  12.5351  170.81  1670.52
2010-01-04  1150.00  12.4230  168.42  1657.55
2010-01-05  1140.20  12.4313  166.87  1638.30
2010-01-06  1129.20  12.2274  165.38  1627.74
2010-01-07  1138.20  12.1974  166.69  1629.74

In [17]:
total_currency.to_csv('currency.csv')

#### 변화율 통합데이터 가져오기

In [18]:
# 한달 동안의 환율 변화율을 모은 데이터
target_day = 1
currency_month = total_currency.query('Date.dt.day == @target_day')
currency_month.head()

                USD      JPY     CNY      EUR
Date
2010-01-01  1166.08  12.5351  170.81  1670.52
2010-02-01  1166.25  12.8662  170.83  1624.70
2010-03-01  1154.00  12.9518  169.05  1564.76
2010-04-01  1126.35  11.9996  165.00  1529.53
2010-06-01  1216.50  13.3666  178.14  1487.41

In [19]:
currency_month_change = currency_month.pct_change()
currency_month_change.fillna(0, inplace=True)
currency_month_change.head()

                 USD       JPY       CNY       EUR
Date
2010-01-01  0.000000  0.000000  0.000000  0.000000
2010-02-01  0.000146  0.026414  0.000117 -0.027429
2010-03-01 -0.010504  0.006653 -0.010420 -0.036893
2010-04-01 -0.023960 -0.073519 -0.023957 -0.022515
2010-06-01  0.080037  0.113920  0.079636 -0.027538

In [20]:
currency_month_change.to_csv('currnecy_change.csv')